# Ignore Visual Studio Code extensions
.vscode/

# Ignore specific system files or directories
AppData/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Saved Games/
Searches/
Videos/
OneDrive/

# Ignore other system or unnecessary files
*.log
*.bak
*.tmp
